# Modules
/node_modules
client/node_modules

# Build
/build

# Database
/database/data.json

# Misc
.env
request.http
unit-test

# File upload
/attachments/*
/uploads/logs/*
/uploads/queue/*

# ...
.next
next-env.d.ts

build

test.cpp