# Server port
PORT = 3108

# Path to store Themis uploaded files (absolute or relative to this file)
# e.g., ./uploads means the uploads folder is in the same folder with .env
THEMIS_UPLOAD_PATH = ./uploads

# Path to store attachments to public with users (absolute or relative to this file)
# e.g., ./attachments means the attachments folder is in the same folder with .env
PUBLIC_ATTACHMENTS_PATH = ./attachments

# JWT secret token for signing tokens (should be 64 characters long and random for security)
SECRET_TOKEN = sample_token_please_change_this_to_a_secure_random_value

# Frontend Mode: true for integration with frontend, false for standalone backend
FRONTEND_INTEGRATION = true

# Optional: URL of the frontend application (for CORS, if deployed separately)
FRONTEND_URL = "http://example.com"